html,
body,
div,
img,
a,
input,
select,
option,
form {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body,
html {
  font: 10px 'Roboto', sans-serif;
  color: #484848;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}
html {
  margin-bottom: 60px;
}
.main-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 3.5rem;
  position: relative;
}
.main-container #html-button {
  position: absolute;
  bottom: 190px;
  right: 25px;
}
#form {
  height: 17.5rem;
  max-width: 100%;
  background-color: #484848;
  border: none;
}
#form img {
  max-width: 100%;
}
#form #bottom-border {
  border: none !important;
}
.container input,
#select {
  background-color: #e8e8e8;
  font-size: 1.4rem;
}
.container > div {
  display: inline;
}
.container img {
  max-width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.container:before,
.container:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}
.container:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
#full-name,
#email {
  padding-left: 15px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  border: none;
  margin-left: 15px;
}
#icon-1 {
  margin-top: 37px;
  margin-left: 32px;
}
#icon-2 {
  margin-top: 25px;
  margin-left: 32px;
}
#icon-3 {
  margin-top: 37px;
  margin-left: -25px;
}
#icon-4 {
  margin-top: 25px;
  margin-left: -25px;
}
#full-name {
  margin-top: 28px;
}
#top-border {
  vertical-align: top !important;
  border: none !important;
}
#email {
  margin-top: 12px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  border: none;
}
#phone-code,
#select {
  margin-left: 12px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  border: none;
}
#select {
  margin-top: 12px;
  padding-left: 15px;
  color: #484848;
}
#full-name {
  margin-left: 18px;
}
.responsive {
  max-width: 100%;
  height: auto;
}
#car {
  display: flex;
}
#car-mobile {
  display: none;
}
.big-input {
  width: 270px;
  height: 45px;
}
#phone-code {
  height: 45px;
  width: 75px;
  margin-top: 28px;
  padding-left: 12px;
}
#phone-number {
  height: 45px;
  width: 185px;
  margin-left: 10px;
  margin-top: 28px;
  padding-left: 12px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  border: none;
}
#little-col {
  width: 90%;
}
.container {
  height: 150px;
}
#send-button {
  position: relativ;
  color: #484848;
  width: 198px;
  height: 53px;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  background: url(images/button-gradient.png) repeat-x;
  border-color: #cf7200;
  margin-top: 40px;
}
#send-button:hover {
  cursor: pointer;
}
label {
  display: inline-block;
}
#agree-checkbox {
  margin-top: 18px;
}
#no-decorated,
#decorated {
  font-size: 1.3rem;
  color: #e8e8e8;
  vertical-align: bottom;
}
#decorated {
  text-decoration: underline;
}
.inline-field {
  margin-top: 18px;
}
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0;
  /* I added this after I posted my reply */
  vertical-align: middle;
  /* Fixes any weird issues in Firefox and IE */
}
input[type=checkbox] {
  transform: scale(1.2);
  color: #e8e8e8;
}
#btn-arrow {
  position: absolute;
  top: 60px;
  right: 90%;
}
#mobile-gradient-2 {
  height: 10px;
  background: url(images/btn-mobile-gradient.png) repeat-x;
  display: none;
}
.toast {
  width: 500px;
  height: 200px;
  background-color: #99ccff !important;
}
.toast.show {
  opacity: 0.8;
}
.toast-body {
  font-size: 2rem;
  color: black !important;
  font-weight: bold;
}
.text-primary {
  font-size: 2.5rem;
}
@media screen and (max-width: 1400px) {
  .main-container {
    width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .big-input {
    min-width: 80%;
  }
  #form {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  #html-button {
    display: none;
  }
  form .row {
    justify-content: center;
  }
  #icon-4 {
    margin-left: 0;
  }
  #phone-number {
    min-width: 74%;
  }
  #code-row {
    margin-left: 62px;
  }
  #phone-code {
    min-width: 13%;
  }
  #select-row {
    margin-left: 30px;
  }
  #select {
    min-width: 84%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  form .row {
    justify-content: center;
  }
  .main-container {
    width: 100%;
  }
  #form {
    height: 100%;
  }
  .container {
    height: 100%;
    max-width: 100%;
  }
  #select-row {
    margin-left: 80px;
  }
  #btn-row {
    justify-content: center;
  }
  #agreement-row {
    justify-content: center;
  }
  #btn-arrow {
    position: absolute;
    top: 60px;
    right: 90%;
  }
  #send-button {
    width: 40%;
  }
  .inline-field {
    margin-top: 18px;
    margin-left: -25px;
  }
  #code-row {
    margin-left: 87px;
  }
  #agreement-row #decorated,
  #agreement-row #no-decorated {
    font-size: 1rem;
    margin-top: -7px;
    margin-left: 5px;
  }
  #html-button {
    display: none;
  }
  #phone-number {
    width: 77%;
  }
  #select {
    width: 90%;
  }
  .big-input {
    width: 80%;
    height: 45px;
  }
  #icon-3 {
    margin-top: 37px;
    margin-left: -50px;
  }
  #icon-4 {
    margin-top: 25px;
    margin-left: -50px;
  }
  #bottom-border {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #mobile-gradient-2 {
    display: block;
  }
  #car {
    display: none;
  }
  #car-mobile {
    display: flex;
  }
  .border {
    display: none;
  }
  .main-container {
    width: 95%;
  }
  .container {
    height: 100%;
  }
  #form {
    height: 100%;
    font-size: 2.2rem;
  }
  #html-button {
    display: none;
  }
  .big-input {
    width: 366px;
    height: 60px;
    max-width: 80%;
  }
  #phone-code {
    width: 102px;
    height: 60px;
    margin-top: 15px;
    font-size: 2.2rem;
    margin-left: 18px;
    max-width: 20%;
  }
  #phone-number {
    width: 250px;
    height: 60px;
    margin-top: 15px;
    font-size: 2.2rem;
    max-width: 53%;
  }
  #email {
    margin-top: 15px;
    font-size: 2.2rem;
    max-width: 75%;
  }
  #full-name {
    font-size: 2.2rem;
    max-width: 75%;
  }
  #select {
    margin-top: 15px;
    font-size: 2.2rem;
    margin-left: 18px;
    max-width: 75%;
  }
  #send-button {
    display: inline-block;
    width: 350px;
    height: 92px;
    background: url(images/btn-mobile-gradient.png) repeat-x;
    font-size: 4.5rem;
    margin-top: 38px;
    margin-left: 15px;
    max-width: 80%;
  }
  #send-button #btn-arrow {
    top: 74px;
    right: 75%;
    height: 29px;
    width: 26px;
  }
  #icon-1,
  #icon-2,
  #icon-3,
  #icon-4 {
    margin-left: 0;
  }
  #icon-1 {
    margin-top: 45px;
  }
  #icon-2 {
    margin-top: 35px;
  }
  #icon-3 {
    margin-top: 33px;
  }
  #email-row,
  #code-row,
  #select-row,
  #btn-row,
  #main-row {
    justify-content: center;
  }
  #agreement-row {
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 188px;
  }
  #agreement-row #decorated,
  #agreement-row #no-decorated {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 360px) {
  form .row {
    justify-content: center;
  }
  #icon-1,
  #icon-2,
  #icon-3,
  #icon-4 {
    display: none;
  }
  .main-container {
    min-width: 100%;
  }
  #car {
    display: none;
  }
  #car-mobile {
    display: flex;
  }
  #full-name {
    max-width: 70%;
  }
  #email {
    max-width: 69%;
    margin-left: 0 !important;
  }
  #phone-code {
    max-width: 26%;
  }
  #phone-number {
    max-width: 40% !important;
  }
  #select {
    max-width: 70%;
  }
  #send-button {
    width: 70%;
    margin-left: 15px;
  }
  #btn-row {
    justify-content: center;
  }
  #email-row {
    justify-content: center;
  }
  #agreement-row #no-decorated {
    font-size: 1.8rem;
    display: inline;
  }
}
@media screen and (max-width: 320px) {
  .main-container {
    max-width: 100%;
  }
  #icon-1,
  #icon-2,
  #icon-3,
  #icon-4 {
    display: none;
  }
  #full-name {
    width: 85%;
    margin-left: 0;
  }
  #phone-code {
    margin-left: 0 !important;
  }
  #phone-number {
    max-width: 50%;
  }
  #form input,
  #select {
    font-size: 1.5rem;
  }
  #send-button {
    margin-left: 5px !important;
  }
  #select {
    margin-left: 0 !important;
  }
}
.link:before {
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 88%;
  top: 61%;
  transform: translate3d(-50%, 0%, 0);
  transition: all .3s ease;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 15px 0 15px;
  border-color: #282828 transparent transparent transparent;
}
.link:after {
  text-transform: none;
  content: attr(data-tooltip);
  font-size: 1.5rem;
  position: absolute;
  color: #fff;
  background: #282828;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 160px;
  height: 95px;
  max-width: 200px;
  opacity: 0;
  pointer-events: none;
  right: -49px;
  top: 286px;
  border-radius: 12px;
  transform: translate3d(-50%, 0%, 0);
  transition: all .3s ease;
  text-align: center;
  padding-top: 18px;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.link:hover:before,
.link:hover:after {
  opacity: 0.75;
}
.link:hover .link:before {
  transform: translate3d(-50%, calc(-118%), 0);
}
.link:hover .link:after {
  transform: translate3d(-50%, calc(-116%), 0);
}
